/*html {
	height: 100%;
	width: 100%;
}*/
body {
	background: url(assets/profile-picture-compressed.jpg) no-repeat top center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
}

.navbar {
	/*position: absolute;*/
	position: relative;
}

.icons {
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.header {
	height: 400px;
	font-family: 'Shadows Into Light', cursive;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.title {
	margin-top: 300px;
	margin-left: 75px;
	color: #ffffff;
	font-size: 100px;
}

.lead {
	color: #ffffff;
	margin-bottom: 300px;
	margin-left: 75px;
	font-size: 50px;
}

.about-section {
	width: 90%;
	background: #ffffff;
	margin: 0 auto;
	padding: 50px;
	text-align: left;
}

.about-me {
	color: black;
	font-family: 'Shadows Into Light', cursive;
}
.icon-section {
	/*background-color: black;*/
	width: 90%;
	margin: 0 auto;
	color: #ffffff;
	padding-top: 50px;
}

.fa-code {
	margin: 0 auto;
}

h4 {
	font-family: 'Shadows Into Light', cursive;
}

.skills {
	width: 90%;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 100px;
	padding-top: 20px;
	text-align: center;
}

p {
	margin-top: 20px;
}

.projects {
	width: 90%;
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 100px;
	padding-top: 20px;
	text-align: center;
}

.site-footer {
	background-color: black;
	color: lightgray;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
}
